.Widget {
    margin-bottom: 10px;
    height: 100%;

    .p-card {
        display: flex;
        flex-direction: column;

        .p-card-body {
            flex-grow: 1;

            .p-card-content{
                height: 100%;
            }
        }
    }
}