.Dashboard {
    .p-scrollpanel-wrapper {
        border-right: 9px solid #f4f4f4;
    }

    .p-scrollpanel-bar {
        background-color: #1976d2;
        opacity: 1;
        transition: background-color .3s;
    }

    .p-scrollpanel-bar:hover {
        background-color: #135ba1;
    }
}

.Dashboard-Content {
    // min-width: 1920px;
    padding: 10px 25px 25px 10px;
}